@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Source+Sans+Pro:wght@300;400&display=swap');

.AboutLayout {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.AboutDoublePanel {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

.AboutDoublePanel--last {
  opacity: 0;
}

.HiddenArrow {
  opacity: 0;
}

.AboutArrowSectionTop {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
	animation-name: fadeInOpacitySlow;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.AboutArrowSectionBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
	animation-name: fadeInOpacitySlow;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.AboutArrowSectionLeft {
  position: absolute;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
	animation-name: fadeInOpacitySlow;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.AboutArrowSectionRight {
  position: absolute;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
	animation-name: fadeInOpacitySlow;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacitySlow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.UpArrow {
  height: 25px;
  transform: rotate(180deg);
}

.DownArrow {
  height: 25px;
  margin-bottom: 30px;
}

.LeftArrow {
  height: 25px;
  margin-left: 50px;
  transform: rotate(90deg);
}

.RightArrow {
  height: 25px;
  margin-right: 50px;
  transform: rotate(270deg);
}

.AboutLeft {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.AboutHeaderText {
  font-family: 'Miniver', sans-serif;
  font-size: 40px;
  text-align: center;
}

.AboutRight {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 5%;
  margin-right: 5%;
}

.AboutContentText {
  margin-right: 100px;
}

.SlideUp {
	animation-name: slideUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes slideUp {
	0% {
    transform: translateY(100%);
    opacity: 0;
	}
	100% {
    transform: translateY(0);
    opacity: 1;
	}
}

.SlideUpOut {
  opacity: 1;
  animation: slideUpOut .5s ease-in;
}

@keyframes slideUpOut {
	0% {
    transform: translateY(0);
    opacity: 1;
	}
	100% {
    transform: translateY(-100%);
    opacity: 0;
	}
}

.SlideDown {
	animation-name: slideDown;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes slideDown {
	0% {
    transform: translateY(-100%);
    opacity: 0;
	}
	100% {
    transform: translateY(0);
    opacity: 1;
	}
}

.SlideDownOut {
  opacity: 1;
  animation: slideDownOut .5s ease-in;
}

@keyframes slideDownOut {
	0% {
    transform: translateY(0);
    opacity: 1;
	}
	100% {
    transform: translateY(100%);
    opacity: 0;
	}
}

.SlideRight {
	animation-name: slideRight;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes slideRight {
	0% {
    transform: translateX(-100%);
    opacity: 0;
	}
	100% {
    transform: translateX(0);
    opacity: 1;
	}
}

.SlideRightOut {
  opacity: 1;
  animation: slideRightOut .5s ease-in;
}

@keyframes slideRightOut {
	0% {
    transform: translateX(0);
    opacity: 1;
	}
	100% {
    transform: translateX(100%);
    opacity: 0;
	}
}

.SlideLeft {
	animation-name: slideLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes slideLeft {
	0% {
    transform: translateX(100%);
    opacity: 0;
	}
	100% {
    transform: translateX(0);
    opacity: 1;
	}
}

.SlideLeftOut {
  opacity: 1;
  animation: slideLeftOut .5s ease-in;
}

@keyframes slideLeftOut {
	0% {
    transform: translateX(0);
    opacity: 1;
	}
	100% {
    transform: translateX(-100%);
    opacity: 0;
	}
}