.Left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  font-size: 20px;
}

.TextBox {
  max-width: 50%; 
  margin-top: 7%;
}

.Right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  margin-right: 10%;
}

.PictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  max-width: 60%; 
  /* QUESTION: How come if i change ^ to max-height, the vertical scroll appears? */
}

.Picture {
  max-width: 100%;
  max-height: 100%;
}